<template>
  <ExInput :placeholder="placeholder" type="search" v-model="query"/>
</template>

<script setup lang="ts">
import {watch} from "vue";
import {ExInput} from '~/shared/ui'
import {useDebouncedRef} from "~/shared/composables";

interface IGifSearchProps {
  modelValue?: string | number;
  placeholder?: string;
}
const props = withDefaults(defineProps<IGifSearchProps>(), {
  placeholder: "Поиск GIF'ок",
});
const emit = defineEmits(["update:model-value"]);

const query = useDebouncedRef(props.modelValue, 400)

watch(query, newQuery => {
  emit("update:model-value", newQuery);
})
</script>
