<template>
  <div class="masonry-2-col sm:masonry-3-col md:masonry-4-col">
    <template v-for="gif in gifs" :key="gif.id">
      <div v-if="gif.images?.original" class="break-inside rounded mb-3 bg-green-600">
        <GifPicture :gif="gif"/>
      </div>
    </template>
  </div>
</template>

<script setup lang="ts">
import {IGif} from "~/entities/gif";
import GifPicture from './Picture.vue'

interface IGifGridProps {
  gifs: IGif[]
}

defineProps<IGifGridProps>()
</script>

<style scoped>

</style>
