<template>
  <picture>
    <source :srcset="gif.images.original.webp" type="image/webp"/>
    <img :src="gif.images.original.url" :alt="gif.title" loading="lazy" class="rounded w-full"
         :width="gif.images.original.width"
         :height="gif.images.original.height"
    >
  </picture>
</template>

<script setup lang="ts">
import {IGif} from "~/entities/gif";

interface IGifPictureProps {
  gif: IGif
}

defineProps<IGifPictureProps>()
</script>

<style scoped>

</style>
