<template>
  <section>
    <div class="py-4 sticky top-0 bg-white">
      <GifSearch v-model="query"/>
    </div>
    <div>
      <template v-if="gifs.length">
        <GifGrid :gifs="gifs"/>
      </template>
      <div v-else-if="!pending" class="text-center p-4">
        {{ query ? 'Ничего не найдено :-(' : 'Введите поисковой запрос' }}
      </div>
    </div>
    <div v-if="pending" class="text-center p-4">
      Загрузка...
    </div>
    <div ref="target" id="target"></div>
  </section>
</template>

<script setup lang="ts">
import {computed, onMounted, ref, watch} from "vue";
import {GifSearch} from '~/features/search'
import {GifServices, IGif, GifGrid} from '~/entities/gif'
import {useIntersectionObserver} from "~/shared/composables";

const query = ref('')
const limit = 25
const page = ref(0)
const offset = computed(() => limit * (page.value - 1))
const gifs = ref<IGif[]>([])
const {data, pending, refresh} = GifServices.fetchGifs({q: query, offset})

watch(query, () => {
  page.value = 1
})
watch(data, async () => {
  if (page.value === 1) {
    gifs.value = data.value ? [...data.value.data] : []
  } else {
    if (data.value) {
      gifs.value.push(...data.value.data)
    }
  }
})

const target = ref<null | HTMLElement>(null)

onMounted(() => {
  useIntersectionObserver(target.value!, async (entry) => {
    if (entry.isIntersecting && data.value) {
      const countPage = Math.ceil(data.value.pagination.total_count / limit)
      if (!pending.value && data.value && countPage > page.value) {
        page.value++
      }
    }
  }, {rootMargin: '0px 0px 300px 0px',})
})
</script>

<style scoped>

</style>
